/* set height 100 for all */
html, body, section {
    height: 100%;
}
body {
    padding: 0%;
    margin-top: 5vw;
}
/* For keyboard typing style */
/*.cursor {
    visibility: hidden;
}*/
/* END */
.topnav {
    background-color: #7b0ea2;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    height: 5vw;
    z-index: 1;
}

.topnav-heading {
    color: white;
    text-align: center;
    font-size: 3.5vw;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
}


.nameContainer {
    height: 25%;
    background-color: #333333;
    color: #eeeeff;
    padding: 10%;
    font-weight: bold;
    font-size: 200%;
    margin-top: 0;
    margin-bottom: 0;
}

.main-jumbo {
    background-color: #f3e5f5;
    height: 40vw;
    border-bottom: 20vw solid white;
    margin-right: 0px; /*to prevent scrolling horizontally */
    /*padding-bottom: 20vw;*/
}

.main-jumbo-text {
    font-size: 9vw;
    font-weight: 100;
    margin-top: 3vw;
    margin-right: 3vw;
    text-align: right;
    vertical-align: middle;
}

.rounded-image {
    border-radius: 50%;
    width: 23vw;
    height: 23vw;
    /*vertical-align: middle;*/
    margin-top: 8vw;
    margin-left: 5vw;
    box-shadow: 10px;
    opacity: 0.8;
    background-color: #000000;
    border: 4px solid #000000;
    /*animation-name: circle;*/
    /*animation-duration: 0.3s;*/
}

.nav-elements {
    margin-left: 11vw;
    margin-top: 6.5vw;
}
.nav-elements > span {
    margin: 2.3vw;
    font-size: 2vw;
    border-bottom: 0px;
    position: relative;
}

.nav-elements > span:hover {
    color: #666666;
    cursor: pointer;
}

.line {
    display: inline;
    position: absolute;
    left: 0px;
    margin-left: -0.3vw;
    height: 3.5vw;
    width: 100%;
    border-bottom: 3px solid black;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);

    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    -o-transition: -o-transform 0.3s;
    transition: transform 0.3s;
}

.nav-4 .line {
    margin-left: 0px;
}

.slider {
    margin-top: -5vw;
    height: 50vh;
    position: relative;
}

.slider > div {
    position: absolute;
    width: 100%;
    height: 50vh;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);

    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    -o-transition: -o-transform 0.3s;
    transition: transform 0.3s;
}

.project {
    background-color: #E1BEE7;
    display: -webkit-flex;
    display: flex;
    width: 98%;
    margin: auto;
    margin-bottom: 5vw;
}

.project > img {
    height: 15vw;
    width: 15vw;
    margin: 1.5vw;
}
 /* for tablets */
@media (min-width: 575px) and (max-width: 1025px) {
    .main-jumbo {
        height: 53vw;
        border-bottom: 25vw solid white;
    }

    .rounded-image {
        margin-top: 18vw;
        margin-left: 3vw;
    }

    .main-jumbo-text {
        font-size: 11vw;
        margin-top: 4vw;
        margin-right: 0px;
    }

    .nav-elements {
        margin-top: 12vw;
        margin-left: 6vw;
    }

    .nav-elements > span {
        font-size: 3vw;
        margin: 1.3vw;
    }

    .line {
        height: 5vw;
    }
 }
/* mobiles */
@media (max-width: 574px) {

    .topnav {
        height: 11vw;
    }
    
    .topnav-heading {
        font-size: 7vw;
        margin: 0.2vw;
    }

    body {
        margin-top: 10vw;
    }

    .main-jumbo {
        position: relative;
        height: 70vw;
    }

    .main-jumbo-text {
        position: absolute;
        font-size: 15vw;
        margin-top: -20vw;
        top: 0px;
        right: 0px;
    }

    .rounded-image {
        position: absolute;
        top: 24vw;
        right: 33vw;
        width: 35vw;
        height: 35vw;
    }

    .round-image-parent {
        height: 1px;
    }

    .nav-elements {
        position: absolute;
        top: 46vw;
        margin: 0px;
        margin-top: 4vw;
    }

    .nav-elements > span {
        margin: 1.3vw;
        font-size: 4.9vw;
    }

    .remove-from-mobiles {
        display: none;
    }

    .line {
        height: 8vw;
    }

    .slider {
        margin-top: 25vw;
    }
}

/*Very small mobiles*/
@media (max-width: 321px) {
    .nav-elements > span {
        margin: 1.7vw;
    }
}

/* some useful properties */
.set-middle {
    vertical-align: middle;
}

.underline {
    border-bottom: 1px solid;
}