<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ page.title }}</title>
    <link href='https://fonts.googleapis.com/css?family=Arvo:400,700,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet"> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  </head>
  <body style="font-family: 'Roboto', sans-serif; height: 100%;">
      <div class="topnav">
          <p class="topnav-heading">Rishabh Gupta</p>
      </div>
      <section>
        {{ content }}
      </section>
    <footer>
      <a href="https://github.com/zeerorg" target="_blank"><img class="icon" src="/assets/github-icon.png"></a>
      <a href="https://www.linkedin.com/in/rishabhgupta4325/" target="_blank"><img class="icon" src="/assets/linkedin-icon.png"></a>
      <a href="mailto:rishabh4325@gmail.com"><img class="icon" src="/assets/mail-icon.png"></a>
      <a href="tel:+919711821354"><img class="icon" src="/assets/phone-icon.png"></a>
    </footer>
    {% if site.google_analytics %}
      <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/owl.carousel.min.js"></script>
  <script src="/js/main.js"></script>
</html>
